<app-menu></app-menu>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Project List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Project name
          </th>
          <th>
            Project description
          </th>
          <th>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects | async">
          <td>{{project.name}}</td>
          <td>{{project.description}}</td>
          <td>
            <button class="btn btn-info btn-sm m-2" (click)="seeAgileSprints(project.id)">See agile sprints</button>
            <button class="btn btn-danger btn-sm m-2" (click)="delete(project.id)">Delete</button>
            <button class="btn btn-info btn-sm m-2" (click)="viewDetails(project.id)">View details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
